redbull==0.0.0
ros2topic==0.18.13
rqt-bag==1.1.5
tf2-ros-py==0.25.15
ament-uncrustify==0.12.14
osrf-pycommon==2.1.6
sensor-msgs-py==4.9.0
rqt-msg==1.2.0
launch==1.0.10
launch-ros==0.19.10
examples-rclpy-minimal-service==0.15.4
tf2-tools==0.25.15
domain-coordinator==0.10.0
ros2action==0.18.13
teleop-twist-keyboard==2.4.0
examples-rclpy-minimal-subscriber==0.15.4
ament-pep257==0.12.14
rqt-graph==1.3.1
ament-lint==0.12.14
rqt-py-console==1.0.2
ament-index-python==1.4.0
ament-flake8==0.12.14
examples-rclpy-minimal-publisher==0.15.4
ros2component==0.18.13
ament-lint-cmake==0.12.14
rqt-plot==1.1.5
ros2multicast==0.18.13
launch-yaml==1.0.10
demo-nodes-py==0.20.5
ament-xmllint==0.12.14
topic-monitor==0.20.5
ros2lifecycle==0.18.13
ros2run==0.18.13
rqt-action==2.0.1
examples-rclpy-minimal-action-server==0.15.4
rqt-srv==1.0.3
ros2cli==0.18.13
launch-testing==1.0.10
rqt-topic==1.5.0
ament-package==0.14.1
ros2bag==0.15.15
rqt-reconfigure==1.1.2
rosidl-cli==3.1.7
rosidl-runtime-py==0.9.3
joint-state-publisher==2.4.0
quality-of-service-demo-py==0.20.5
ros2launch==0.19.10
ament-cpplint==0.12.14
rqt-service-caller==1.0.5
rqt-shell==1.0.2
launch-xml==1.0.10
rqt-gui==1.1.7
examples-rclpy-executors==0.15.4
ros2param==0.18.13
ament-cppcheck==0.12.14
ros2node==0.18.13
rqt-console==2.0.3
rqt-bag-plugins==1.1.5
examples-rclpy-minimal-client==0.15.4
ros2interface==0.18.13
launch-testing-ros==0.19.10
rqt-gui-py==1.1.7
rpyutils==0.2.1
ros2pkg==0.18.13
examples-rclpy-minimal-action-client==0.15.4
action-tutorials-py==0.20.5
rqt-publisher==1.5.0
ros2service==0.18.13
sros2==0.10.7
ros2doctor==0.18.13
ament-copyright==0.12.14
rosgraph-msgs==1.2.2
rosbag2-py==0.15.15
composition-interfaces==1.2.2
geometry-msgs==4.9.0
diagnostic-updater==4.0.6
cv-bridge==3.2.1
qt-dotgraph==2.2.4
unique-identifier-msgs==2.2.1
diagnostic-msgs==4.9.0
rosidl-typesupport-introspection-c==3.1.7
rosidl-adapter==3.1.7
rosidl-typesupport-introspection-cpp==3.1.7
rosidl-generator-cpp==3.1.7
example-interfaces==0.9.3
qt-gui-py-common==2.2.4
std-msgs==4.9.0
nav-msgs==4.9.0
qt-gui-cpp==2.2.4
qt-gui==2.2.4
rosidl-typesupport-fastrtps-cpp==2.2.2
rosidl-generator-py==0.14.5
stereo-msgs==4.9.0
tf2-geometry-msgs==0.25.15
laser-geometry==2.4.0
builtin-interfaces==1.2.2
interactive-markers==2.3.2
message-filters==4.3.8
pendulum-msgs==0.20.5
visualization-msgs==4.9.0
rmw-dds-common==1.6.0
rcutils==5.1.6
bond==4.1.2
rclpy==3.3.17
rosidl-generator-c==3.1.7
rosidl-typesupport-c==2.0.2
rcl-interfaces==1.2.2
rosidl-typesupport-cpp==2.0.2
smclib==4.1.2
trajectory-msgs==4.9.0
turtlesim==1.4.2
std-srvs==4.9.0
action-msgs==1.2.2
sensor-msgs==4.9.0
tf2-kdl==0.25.15
action-tutorials-interfaces==0.20.5
ament-cmake-test==1.3.12
resource-retriever==3.1.3
pcl-msgs==1.0.0
rosidl-parser==3.1.7
lifecycle-msgs==1.2.2
logging-demo==0.20.5
angles==1.15.0
shape-msgs==4.9.0
statistics-msgs==1.2.2
rosidl-cmake==3.1.7
actionlib-msgs==4.9.0
tf2-sensor-msgs==0.25.15
map-msgs==2.1.0
nav2-msgs==1.1.18
rosbag2-interfaces==0.15.15
rosidl-typesupport-fastrtps-c==2.2.2
nav2-common==1.1.18
tf2-py==0.25.15
tf2-msgs==0.25.15
xacro==2.0.13
python-qt-binding==1.1.2
rqt-py-common==1.1.7
image-geometry==3.2.1
ackermann-msgs==2.0.2
jupyter_client==8.6.3
evdev==1.6.1
numba==0.60.0
pyglet==1.4.11
matplotlib-inline==0.1.7
cloudpickle==1.6.0
stack-data==0.6.3
nvidia-cuda-nvrtc-cu12==12.6.77
tornado==6.5.1
nvidia-cusolver-cu12==11.7.1.2
Jinja2==3.1.6
numpy==1.26.4
fonttools==4.59.0
nest-asyncio==1.6.0
six==1.17.0
pandas==2.2.2
ruamel.yaml==0.18.14
sentry-sdk==2.34.1
torch==2.7.1
comm==0.2.3
nvidia-cudnn-cu12==9.5.1.17
filelock==3.18.0
nvidia-nvtx-cu12==12.6.77
kiwisolver==1.4.8
zstandard==0.23.0
smmap==5.0.2
ipykernel==6.30.1
nvidia-cufile-cu12==1.11.1.6
pydantic_core==2.33.2
mpmath==1.3.0
llvmlite==0.43.0
wcwidth==0.2.13
annotated-types==0.7.0
GitPython==3.1.45
gym==0.19.0
sympy==1.14.0
rosbags==0.10.10
joblib==1.5.1
tzdata==2025.2
nvidia-cuda-cupti-cu12==12.6.80
networkx==3.4.2
packaging==25.0
scikit-learn==1.7.1
ruamel.yaml.clib==0.2.12
pillow==11.3.0
PyOpenGL==3.1.9
typing-inspection==0.4.1
prompt_toolkit==3.0.51
contourpy==1.3.2
jupyter_core==5.8.1
executing==2.2.0
nvidia-cuda-runtime-cu12==12.6.77
pyparsing==3.2.3
pure_eval==0.2.3
UNKNOWN==0.0.0
parso==0.8.4
pynput==1.8.1
torchvision==0.22.1
nvidia-cufft-cu12==11.3.0.4
platformdirs==4.3.8
gitdb==4.0.12
python-xlib==0.33
nvidia-cusparselt-cu12==0.6.3
traitlets==5.14.3
exceptiongroup==1.3.0
nvidia-nvjitlink-cu12==12.6.85
scipy==1.11.4
jedi==0.19.2
pyzmq==27.0.1
pydantic==2.11.7
fsspec==2025.7.0
triton==3.3.1
asttokens==3.0.0
protobuf==6.31.1
nvidia-curand-cu12==10.3.7.77
nvidia-nccl-cu12==2.26.2
wandb==0.21.0
cycler==0.12.1
threadpoolctl==3.6.0
typing_extensions==4.14.1
nvidia-cusparse-cu12==12.5.4.2
debugpy==1.8.16
matplotlib==3.10.5
ipython==8.37.0
urllib3==2.5.0
nvidia-cublas-cu12==12.6.4.1
python-dateutil==2.9.0.post0
f110-gym==0.2.1
transforms3d==0.4.2
pytz==2022.1
PyYAML==5.4.1
cov-core==1.15.0
ufw==0.36.1
fs==2.4.12
psutil==5.9.0
colcon-installed-package-information==0.2.1
python-dotenv==0.19.2
oauthlib==3.2.0
future==0.18.2
python-dateutil==2.8.1
rosdep==0.21.0
python-apt==2.4.0+ubuntu4
keyring==23.5.0
more-itertools==8.10.0
colcon-powershell==0.4.0
terminator==2.1.1
colcon-core==0.19.0
SecretStorage==3.3.1
colcon-cmake==0.2.29
pyrsistent==0.18.1
language-selector==0.1
ply==3.11
gast==0.5.2
numpy==1.21.5
colcon-package-selection==0.2.10
fonttools==4.29.1
certifi==2020.6.20
cycler==0.11.0
PyQt5-sip==12.9.1
colcon-library-path==0.2.1
pytest==6.2.5
mpmath==0.0.0
notify2==0.3
empy==3.3.4
pyRFC3339==1.1
xdg==5
PyNaCl==1.5.0
ptyprocess==0.7.0
colcon-parallel-executor==0.3.0
jsonschema==3.2.0
pyflakes==2.4.0
distro==1.7.0
click==8.0.3
matplotlib==3.5.1
protobuf==3.12.4
snowballstemmer==2.2.0
lazr.restfulclient==0.14.4
colcon-zsh==0.5.0
six==1.16.0
rospkg-modules==1.6.0
roman==3.3
monotonic==1.6
colcon-bash==0.5.0
pydot==1.4.2
py==1.10.0
olefile==0.46
paramiko==2.9.3
rospkg==1.6.0
webencodings==0.5.1
texttable==1.6.4
configobj==5.0.6
dockerpty==0.4.1
ubuntu-drivers-common==0.0.0
urllib3==1.26.5
soupsieve==2.3.1
lxml==4.8.0
Brotli==1.0.9
usb-creator==0.3.7
pluggy==0.13.0
pexpect==4.8.0
httplib2==0.20.2
Pygments==2.11.2
flake8==4.0.1
beautifulsoup4==4.10.0
launchpadlib==1.10.16
lazr.uri==1.0.6
html5lib==1.1
fasteners==0.14.1
colcon-output==0.2.13
bcrypt==3.2.0
command-not-found==0.3
dbus-python==1.2.18
netifaces==0.11.0
pyxdg==0.27
xkit==0.0.0
catkin-pkg==1.0.0
cryptography==3.4.8
screen-resolution-extra==0.0.0
reportlab==3.6.8
pycodestyle==2.8.0
docker-compose==1.29.2
systemd-python==234
packaging==21.3
appdirs==1.4.4
cupshelpers==1.0
lz4==3.1.3+dfsg
pycairo==1.20.1
Brlapi==0.8.3
MarkupSafe==2.0.1
PyJWT==2.3.0
colcon-python-setup-py==0.2.9
python-debian==0.1.43+ubuntu1.1
requests==2.25.1
defer==1.0.6
colcon-argcomplete==0.3.3
colcon-devtools==0.3.0
catkin-pkg-modules==1.0.0
argcomplete==1.8.1
websocket-client==1.2.3
zipp==1.0.0
PyQt5==5.15.6
macaroonbakery==1.3.1
wheel==0.37.1
colcon-notification==0.3.0
colorama==0.4.4
scipy==1.8.0
toml==0.10.2
colcon-common-extensions==0.3.0
pyparsing==2.4.7
colcon-defaults==0.2.9
Mako==1.1.3
colcon-metadata==0.2.5
pycups==2.0.1
colcon-cd==0.2.1
setuptools==59.6.0
louis==3.20.0
mpi4py==3.1.3
pymacaroons==0.13.0
docopt==0.6.2
lockfile==0.12.2
coverage==6.2
chardet==4.0.0
rosdistro-modules==1.0.1
iniconfig==1.1.1
colcon-override-check==0.0.1
Pillow==9.0.1
distlib==0.3.4
ufoLib2==0.13.1
mccabe==0.6.1
pip==22.0.2
colcon-pkg-config==0.1.0
PyGObject==3.42.1
colcon-test-result==0.3.8
attrs==21.2.0
colcon-package-information==0.4.0
rosdistro==1.0.1
idna==3.3
blinker==1.4
distro-info==1.1+ubuntu0.2
pythran==0.10.0
docutils==0.17.1
duplicity==0.8.21
ubuntu-pro-client==8001
sympy==1.9
colcon-recursive-crawl==0.2.3
unattended-upgrades==0.1
jeepney==0.7.1
apturl==0.5.2
lark==1.1.1
nose2==0.9.2
beniget==0.4.1
colcon-ros==0.5.0
pydocstyle==6.1.1
wadllib==1.3.6
docker==5.0.3
unicodedata2==14.0.0
decorator==4.4.2
importlib-metadata==4.6.4
kiwisolver==1.3.2
pytest-cov==3.0.0
